<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <ui:composition>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row row-centered">
                    <div class="col-xs-6 col-sm-2 ">
                        <div class="navbar-header vcenter">
                            <button id="hidden_menu" type="button" class="navbar-toggle collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand vcenter child" href="#">Brand</a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 ">
                        <div class="navbar-collapse collapse">
                            <h:form id="mainSearch" class="navbar-form " role="search">
                                <div class="form-group input-group ">
								<span id="searchInfoPopover" class="input-group-addon">
																<i class="glyphicon glyphicon-info-sign"></i>
								</span>
                                    <h:inputText id="search" class="form-control"/>

                                    <div class="input-group-btn ">
                                        <button id="searchParam"
                                                class="btn btn-default dropdown-toggle">#{msg['kz.bestsales.index.top.dropdown.text']}<span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><input type="checkbox" id="DRESS" name="sales" value="true"/><label
                                                    for="DRESS">#{msg['kz.bestsales.index.top.dropdown.option.first.text']}</label>
                                            </li>
                                            <li><input type="checkbox" id="BOOT" name="sales" value="true"/><label
                                                    for="BOOT">#{msg['kz.bestsales.index.top.dropdown.option.second.text']}</label>
                                            </li>
                                            <li><input type="checkbox" id="ACCSESSORIES" name="sales"
                                                       value="true"/><label
                                                    for="ACCSESSORIES">#{msg['kz.bestsales.index.top.dropdown.option.third.text']}</label>
                                            </li>
                                            <li class="divider"></li>
                                            <li><input type="checkbox" id="SALES" name="sales" value="true"/><label
                                                    for="SALES"
                                                    style="color: red;">#{msg['kz.bestsales.index.top.dropdown.option.sales.text']}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <button type="submit"
                                        class="btn btn-default ">#{msg['kz.bestsales.index.top.button.search.text']}</button>
                            </h:form>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <div class="navbar-collapse collapse">
                            <h:form class="navbar-form" role="form">
                                <div class="form-group">
                                    <button id="logRegModal" class="btn btn-primary" type="button">
                                        <span class="glyphicon glyphicon-log-in"> </span>
                                        #{msg['kz.bestsales.index.top.sign.btn.val']}
                                    </button>
                                    <button type="button" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-shopping-cart"> </span>
                                        #{msg['kz.bestsales.index.top.basket.btn.val']}
                                    </button>
                                </div>
                                <h:selectOneMenu value="#{language.localeCode}" onchange="submit()"
                                                 valueChangeListener="#{language.countryLocaleCodeChanged}">
                                    <f:selectItems value="#{language.countriesInMap}" />
                                </h:selectOneMenu>
                            </h:form>

                        </div>
                    </div>
                </div>
                <!--/.row -->
            </div>
        </div>

    </ui:composition>
</h:body>
</html>


